/* @override http://cq-prototype.local:4000/css/styles.css */

/* @override http://0.0.0.0:4000/css/styles.css */

/* @override http://0.0.0.0:4000/css/styles.css */

/* @override http://0.0.0.0:4000/css/styles.css */

/* @override http://cq-prototype.local/stylesheets/styles.css */



/* @group reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @end */

/* @group bootstrap */

body{
	color: #222;
	font-family: "ff-tisa-web-pro", georgia, "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 20px;
	background: #fff;
	height: 100%;
}

@media screen and (min-width: 48em){
	body{ font-size: 20px; }
}


a{
	color: #1a669b;
	text-decoration: none;
}

a:hover{
	color: #00b3e3;
}

p{ line-height: 1.5em; }
p+p{ text-indent: 1.4em; }

strong{ font-weight: 600; }

ul, ol{ 
	padding-top: 0.8em;
	padding-left: 1.4em;
}

li{ margin-bottom: 0.8em; }

ul li{ list-style-type: disc; }
ol li{ list-style-type: decimal; }

img{ max-width: 100%; }

div.site-width{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	margin: 0 auto;
	width: 90%;
	max-width: 64rem;
}

div.site-width::after {
  content: "";
  display: table;
  clear: both;
}


#ggs-guides{
	width: 88.888888888%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -44.444444444444%;
	display: none;
	height: 0;
}

div.site-width::after{
  content: "";
  display: table;
  clear: both;
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?6is9rp');
	src:url('fonts/icomoon.eot?#iefix6is9rp') format('embedded-opentype'),
		url('fonts/icomoon.woff?6is9rp') format('woff'),
		url('fonts/icomoon.ttf?6is9rp') format('truetype'),
		url('fonts/icomoon.svg?6is9rp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* @end */

/* @group forms */



.button{
	color: #fff;
	border: 0.2em double #fff;
	-moz-border-radius: 0.2em;
	border-radius: 9;
	background: #df6018 none;
	padding: 0.3em 0.5em;
	font-family: "franklin-gothic-urw", helvetica;
	font-size: 0.9em;
	cursor: pointer;
	-webkit-appearance: none;
	margin: 0;
}

.button:hover{ 
	background-color: #c04316; 
	color: white;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=password],
input[type=date]{
  border: 0.08em solid #ccc;
  border-top-color: #c3c3c3;
  font: inherit;  
  font-size: inherit;
  padding: 0.4rem 0.33rem 0.33rem;
  margin: 0;
  outline: none;
  height: 2em;
  line-height: 1;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
	background: #fff;
	box-shadow: inset 0.05em 0.05em 0 rgba(0,0,0,0.08);
}

input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=date]:focus,
select:focus,
textarea:focus{
	border-color: #217eb4;
}

input[type=checkbox],
input[type=radio]{
	vertical-align: middle;
	display: inline-block;
	position: relative;
	top: -0.15rem;
}

input[type=text][disabled],
input[type=tel][disabled],
input[type=email][disabled],
input[type=password][disabled],
input[type=date][disabled],
select[disabled],
textarea[disabled]{
	background: #f3f3f3;
	color: #555;
}



input[type=checkbox],
input[type=radio]{
	position: absolute;
	left: 0.8em;
	top: 50%;
	margin-top: -0.5em;
}


div.field.field-checkbox,
div.field.field-radiobutton{
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
  position: relative;
  max-width: 32em;
}

div.field.field-checkbox label,
div.field.field-radiobutton label{
	padding-left: 1.8em;
  line-height: 1.2rem;
  position: relative;
  font-weight: normal;
  color: #777;
  margin-bottom: 0.6em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: pointer;
}


div.field{
	margin-bottom: 1.4rem; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	max-width: 16.4rem;
  font-family: "franklin-gothic-urw", Arial;
}

div.field label,
fieldset legend{
  line-height: 1.4em;
  display: block;
  margin-bottom: 0.7em;
  color: #333;
  width: 100%;
  font-family: "franklin-gothic-urw", Arial;
}

fieldset.fieldset-address div.field.field-city input{ width: 8rem; }
fieldset.fieldset-address div.field.field-state{ width: 2.6rem;}
fieldset.fieldset-address div.field.field-zip input{ width: 4rem; }

fieldset.fieldset-date-range div.field,
fieldset.fieldset-phone div.field-number,
fieldset.fieldset-address div.field.field-city,
fieldset.fieldset-address div.field.field-state,
fieldset.fieldset-address div.field.field-zip,
fieldset.fieldset-cc fieldset.fieldset-cc-expiry-date,
fieldset.fieldset-cc div.field.field-cc-mm,
fieldset.fieldset-cc div.field.field-cc-yy,
fieldset.fieldset-cc div.field.field-cc-cvc{
		float: left;
		overflow: hidden;
		padding-right: 0.4rem;
		position: relative;
		padding-bottom: 1.2rem;
}

fieldset.fieldset-address div.field.field-street,
fieldset.fieldset-cc div.field.field-cc-n{
	padding-bottom: 1.2rem;
	margin-bottom: 1rem;
}

fieldset.fieldset-address div.field label,
fieldset.fieldset-cc div.field label{
	position: absolute;
	bottom: 0;
	margin: 0;
	font-size: 0.8rem;
	color: #555;
}

fieldset.fieldset-cc fieldset.fieldset-cc-expiry-date legend{
	font-size: 0.8rem;
	color: #555;
	font-weight: 600;
}

fieldset.fieldset-address div.field.field-city{
	width: 8.4rem;
	clear: left;
}

fieldset.fieldset-address div.field.field-state,
fieldset.fieldset-address div.field.field-zip,
fieldset.fieldset-cc div.field.field-cc-cvc{ width: 4rem; }

fieldset.fieldset-cc div.field.field-cc-cvc{ padding-top: 1.2em; }

fieldset.fieldset-cc div.field.field-cc-mm,
fieldset.fieldset-cc div.field.field-cc-yy{ width: 2em; }
fieldset.fieldset-cc div.field.field-cc-yy{
	margin-right: 6.2em;
}



@media screen and (min-width: 28em) {	

	fieldset .field{ padding-left: 0; }

}

/* @end */

/* @group shared */

/* @group article.h-entry */

article.h-entry a:hover h1{ text-decoration: underline; }

article.h-entry dl{
	margin-bottom: 0.8em;
	color: #444;
	font-style: italic;
	line-height: 1.2em;
}

article.h-entry dl dt,
article.h-entry dl dd{ display: inline; }

article.h-entry dl dt{ 
	text-transform: lowercase; 
	margin-right: 0.1em;
}

article.h-entry dl .fn{
	font-family: "franklin-gothic-urw-cond", arial;
	font-style: normal;
	-webkit-text-rendering: optimizeLegibility;
	color: #333;
}

article.h-entry p{
	font-family: "franklin-gothic-urw", Arial;
	max-width: 28em;
	line-height: 1.4em;
	color: #333;
}

article.h-entry h1{
	font-size: 1.2em;
	line-height: 1.2em;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0.4rem;
	font-family: abril-titling-condensed, georgia;
}

article.h-entry a{ 
	display: block;
	position: relative;
}

article.h-entry a:hover{ text-decoration: none; }
article.h-entry a h1{ color: #ce4d32; }
article.h-entry a:hover h1{ color: #991325; }

@media screen and (min-width: 48em){

	article.h-entry a dl,
	article.h-entry a p{
		font-size: 0.9em;
	}
}

/* @end */

/* @group section.h-feed */

section.h-feed header h1,
.home section.h-feed header h1{
	font-size: 2em;	
	font-family: abril-fatface;
	font-weight: 400;
	margin-bottom: 0.2rem;
}

section.h-feed.miscellaneous header h1{
	font-size: 1.2rem;
	font-family: "franklin-gothic-urw", Arial;
	font-weight: 600;
	border-color: #e3e3e3;
	padding-top: 0.8em;
}

section.h-feed.miscellaneous{
	clear: both;
}


/* @end */



/* @end */

/* @group header#header */

header#header{ 
	color: #333; 
	padding-top: 2.4em;
}

body.home header#header nav.nav-primary a.home,
body.about header#header nav.nav-primary a.about,
body.subscribe header#header nav.nav-primary a.subscribe,
body.contribute header#header nav.nav-primary a.contribute{
	font-weight: 600;
	color: inherit;
	text-decoration: none;
}

header#header p{
	font-size: 0.9em;
	margin-bottom: 0.8em;
    position: relative;
}

header#header nav.nav-primary{
	left: 0;
	font-family: "franklin-gothic-urw", Arial;
	font-size: 0.8em;
	position: absolute;
	bottom: 100%;
	margin-bottom: 0.8rem;
}

header#header nav.nav-primary a{
	margin-right: 0.8em;
}

header#header nav.nav-primary a:hover{ text-decoration: underline; }


span.ampersand{
	font-family: baskerville;
	font-style: italic;
}

header#header div.site-width::after {
  content: "";
  display: table;
  clear: both;
}

header#header h1.logo{
	font-family: abril-titling-condensed;
	font-size: 2em;
	font-weight: 700;
	color: #333;
	position: relative;
	margin-bottom: 0.4em;
	border-top: 0.2em solid;
}

header#header h1.logo,
header#header h1.logo a{ 
	color: inherit; 
}

header#header h1.logo a:hover{ color: #000; }


header#header h1.logo::after{
	left: 6.5em;
	right: 0;
	width: auto;
}

header#header h1.logo span{ 
	display: inline-block; 
	position: relative;
}

header#header h1.logo::after,
header#header h1.logo span::before,
header#header h1.logo span::after{
	content: "";
	position: absolute;
	bottom: -0.1rem;
	left: 0;
	border-bottom: 0.08rem solid;
}

header#header h1.logo span::before{
	width: 2.35em;
}

header#header h1.logo span::after{
	right: 0.6em;
	left: 3.05em;
}

header#header h1.logo::after{
	width: auto;
	right: 0;
	left: 6.5em;
}

body header .secondary-content{
	display: none;
}

header#header nav.nav-issue{
	font-family: "franklin-gothic-urw", Arial;
	font-size: 0.8em;
	font-weight: 600;
	position: relative;
	z-index: 1;
	margin-bottom: 0.8em;
}

@media screen and (min-width: 48em){
	
	header#header div.site-width{
		border-top: 0.475em solid;
	}

	header#header div.site-width::before{
		content: "";
		position: absolute;
		right: 0;
		left: 18.125em;
		bottom: -0.08em;
		border-bottom: 0.08em solid;
		z-index: 1;
	
	}

	header#header h1.logo{
		display: inline-block;
		font-size: 2.8em;
		border-top: none;
		margin: 0;
	}
	
	header#header{
		  padding-top: 3.2em;
	}
	
	body.home header#header{
	  padding-bottom: 4em !important; 
	  margin-bottom: 20em !important;
	  background: none !important;
	}

	header#header form,
	header#header nav.nav-primary,
	header#header p{
		position: absolute !important;
		bottom: 100%;
		margin-bottom: 1.4rem;
	}
	
	header#header nav.nav-primary{
		position: absolute;
		right: 0;
		margin-bottom: 2em;
		text-align: right;
		
	}

	header#header nav.nav-primary a{
		margin-right: 0;
		margin-left: 0.8em;
	}
	
	header#header nav.nav-issue{
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -0.6em;
	}
	
	header#header p{
	  font-size: 0.6em;
  	  max-width: 24em;
	}
	
}

@media screen and (min-width: 62em){
	header#header p{
	  font-size: 0.7em;
  	  max-width: none;
	  margin-bottom: 1.9rem;
	}

}

header#header nav.nav-issue h1,
header#header nav.nav-issue h2{
	font-size: 1em;
	display: inline;
}

header#header nav.nav-issue h1::after{
	content: "";
	width: 0.4em;
	height: 0.4em;
	display: inline-block;
	vertical-align: middle;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 0.08em solid;
	margin-left: 0.5em;
	margin-right: 0.2em;
	margin-top: -0.2em;
}

header#header nav.nav-issue a{
	display: none;
}

/* @end */

/* @group .page */

.page a{ color: #009b76; }
.page a:hover{ 
	color: #1f5f5a;
	text-decoration: underline;
}

.page p,
.page li{
	line-height: 1.6em; 
	color: #333;
	text-rendering: optimizeLegibility;
}

.page li{ margin-bottom: 0.8rem; }

.page h1{
	font-size: 1.4em;
	line-height: 1.2em;
	font-family: "abril-titling-condensed", Georgia;
	font-weight: 600;
	margin-top: 2rem;
	margin-bottom: 0.6rem;
}

.page section h1{
	font-size: 1.4em;
	font-weight: 600;
	color: #633380;
}


.page figure{
	line-height: 1.6em;
	margin: 1em 0;
	font-family: "franklin-gothic-urw", Arial;
	font-size: 0.9em;
	counter-increment: figure;
}

.page figure figcaption::before{
	content: "Figure " counter(figure) " ";
	font-weight: 600;
}

.page section section h1,
.page section h2{
	font-family: "franklin-gothic-urw", Arial;
	line-height: 1.4em;
	margin-bottom: 0.4rem;
	font-size: 1.2em;
	font-weight: 600;
	color: inherit !important;
}

.page section h2{
	font-size: 1em;
}

.page blockquote{
	font-style: italic;
	margin-bottom: 1.4em;
	position: relative;
	margin-left: 1.4em;
	margin-top: 0.7em;
}

.page blockquote::before{
	content: "\201C";
	color: #555;
	position: absolute;
	right: 100%;
	top: 0;
	font-size: 1.8em;
	margin-right: 0.2em;
	margin-top: 0.1em;
}

.page blockquote p:first-of-type{
	text-indent: none !important;
}

.page blockquote cite{
	font-size: 0.9em;
	font-style: normal;
	font-family: "franklin-gothic-urw", Arial;
	display: block;
	margin-top: 0.6em;
	line-height: 1.3em;
}

.page blockquote cite::before{
	content: "\2014";
}

.page span.first-letter{
	font-size: 6em;
	float: left;
	color: #cc4c34;
	font-weight: 700;
	margin-bottom: 0.1em;
	margin-right: 0.1em;
	margin-top: 0.35em;
	font-family: "abril-fatface";
}

div.celebrated-content{
	background: #333;
	color: white;
	padding: 1em 0;
	text-align: center;
	font-size: 1.4em;
	line-height: 1.4;
	font-style: italic;
}

@media screen and (min-width: 71.111rem){ 
	.page figure.track-site-width{ 
		margin-left: -12rem; 
		margin-right: -12rem;
		margin-top: 2em;
		margin-bottom: 2em;
	} 
}

/* @end */

/* @group footer#footer */

footer#footer{
	position: relative;
	font-family: "franklin-gothic-urw", helvetica;
	text-align: center;
}

footer#footer div.site-width{
	border-top: 0.2em solid;
	padding-top: 1em;
	padding-bottom: 1.8em;
	margin-bottom: 2em;
}

footer#footer img{
	max-width: 11em;
}

footer#footer section.subscribe,
footer#footer section.mailing-list{
	border-bottom: 0.08em solid #888;
	padding-bottom: 1.6em;
	margin-bottom: 1.6em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

footer#footer section.mailing-list{
	border-bottom: none;
}

footer#footer section.subscribe{ font-family: abril-titling-condensed, georgia; }
footer#footer section.subscribe .button{
	font-weight: 600;
}

footer#footer section.subscribe p{
	font-size: 1.4rem;
	margin-bottom: 0.6em;
}

footer#footer section.mailing-list label{ margin-top: 0.05rem; }

footer#footer section.sponsored-by{
	margin-bottom: 1.5em;
}

footer#footer h1,
footer#footer label{
	font-weight: 600;
	display: block;
	margin-bottom: 0.8em;
}

footer#footer nav{
	font-size: 0.9em;
	line-height: 1.5em;
	border-top: 0.4em solid;
	padding-top: 0.8rem;
	display: block;
	clear: both;
	margin-bottom: 0.8em;
}

footer#footer nav a{
	font-size: 1rem;
	color: inherit;
	margin-right: 0.8em;
	display: inline-block;
	padding: 0.2em;
}

footer#footer nav a:hover{
	text-decoration: underline;
}

footer#footer .mailing-list input[type=email]{
	margin-bottom: 0.8em;
	
}
footer#footer .mailing-list input[type=submit]{
	background: #207cb6;
}

footer#footer .mailing-list input[type=submit]:hover{
	background: #174a8c;
}


footer#footer span.icon::after{
	font-family: "icomoon";
	content: "twitter";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 1.4em;
}

footer#footer .facebook span.icon::after{
	content: "facebook";
	
}

footer#footer .copyright{
	clear: both;
	font-size: 0.7em;
}

@media screen and (min-width: 36em){

	footer#footer{
		text-align: left;
	}
		
	footer#footer section.subscribe{
		padding-right: 37.5%;
		position: relative;
		text-align: left;
	}
	
	footer#footer section.subscribe p{
		padding-right: 0.75em;
	}
	
	footer#footer section.subscribe button{
		margin-top: -2.7rem;
		position: absolute;
		right: 0;
		top: 50%;
		width: 37.5%;
	}
	
	footer#footer section.subscribe,
	footer#footer section.mailing-list,
	footer#footer section.sponsored-by{
		float: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	
	footer#footer section.mailing-list,
	footer#footer section.sponsored-by{
		width: 50%;
		height: 8em;
		border-bottom: 0.08em solid #888;
	}
	
	footer#footer section.mailing-list{
		width: 100%;
		padding-right: 1.5em;
	}
	
	footer#footer section.sponsored-by{
		width: 37.5%;
	}
		
	footer#footer nav{
		float: left;
		border-top: none;
	}
}

@media screen and (min-width: 56em){

	footer#footer nav a{ padding: 0; }
	
	footer#footer section.subscribe,
	footer#footer section.mailing-list{
		margin-bottom: 0;
	}
	
	footer#footer section.subscribe{
		width: 75%;
		padding: 0;
		min-height: 8em;
	}

	footer#footer section.subscribe p{
		font-size: 1.2em;
		margin-bottom: 0.8em;
		max-width: 24em;
	
	}	
	footer#footer section.subscribe button{
		position: static;
		width: auto;
	}
	
	footer#footer section.mailing-list{
		width: 25%;
		padding-right: 0;
	}
	
	
}

/* @end */

/* @group layouts */

/* @group pages */

/* @group bootstrap */


#page main > header{ text-align: center; }

/* @end */

/* @group 404 */

body#page-404 main .page{
	text-align: center;
	margin-bottom: 2em;
}

body#page-404 main h1{
	text-align: center;
	margin-top: 1em;
	margin-bottom: 0.25em;
	font-size: 3.2em;
	line-height: 1;
	font-family: abril-fatface;
	font-style: italic;
}

body#page-404 main p{
	font-size: 1.5em;
	max-width: 28em;
	margin: 0 auto 1em;
}

body#page-404 main a{
	font-family: "franklin-gothic-urw", Arial;
}

body#page-404 main a::after{
	content: "";
	width: 0.4em;
	height: 0.4em;
	display: inline-block;
	vertical-align: middle;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 0.08em solid;
	margin-left: 0.5em;
	margin-right: 0.3em;
	margin-top: -0.2em;
	color: #ccc;
}

body#page-404 main a:last-of-type::after{
	display: none;
}

/* @end */

/* @group about */


body.about header#header,
body.about main header,
body.about main p.introduction{
	background: #633380;
	color: white;
}

body.about header#header nav a{ color: #d0fff4; }
body.about header#header h1 a,
body.about header#header h1 a:hover{ color: white; }

body.about main header{ 
	padding-top: 1.4em;
	margin-bottom: 1.4em;
	padding-bottom: 1.4em;
}

body.about main header p{
	font-size: 1.2em;
	text-align: center;
	font-family: "franklin-gothic-urw", Arial;	
	max-width: 44rem;
	margin: 0 auto;
}

body.about .page span.first-letter{
	color: #633380;
}

body.about .page p{
	max-width: 42rem;
	margin: 0 auto;
}

body.about main aside{
	font-family: "franklin-gothic-urw", Arial;	
	line-height: 1.5em;
	margin-bottom: 2em;
	font-size: 0.9em;
	margin-top: 2.8em;
	text-align: center;
	max-width: 28rem;
	margin: 2.8em auto 2em;
}


body.about main dl dt{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.9em;
}

body.about main dl dd{ margin-bottom: 1em; }

@media screen and (min-width: 48em){
	body.about main aside{ 
		text-align: left; 
		max-width: none;
	}	
	
	body.about main aside dl{
		width: 42rem;
		margin: 0 auto 2em;
	}

	body.about main aside dl::after {
	  content: "";
	  display: table;
	  clear: both;
	}
	
	body.about main aside dl dt,
	body.about main aside dl dd{ 
		float: left;
		width: 50%;
			-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	
	}

	body.about main aside dl dt{
		clear: left;
		padding-right: 1em;
	}	
}

/* @end */

/* @group contribute */

body.contribute header#header,
body.contribute main header,
body.contribute main p.introduction{
	background: #633380;
	color: white;
}

body.contribute header#header p,
body.contribute header#header nav a{
	color: #d0fff4;
}

body.contribute header#header h1 a,
body.contribute header#header h1 a:hover{ color: white; }


body.contribute main header{ 
	padding-top: 1.4em;
	margin-bottom: 1.4em;
	padding-bottom: 1.4em;
}

body.contribute main header p{
	font-size: 1.1em;
	font-size: 1.2em;
	text-align: center;
	font-family: "franklin-gothic-urw", Arial;	
	max-width: 28em;
	margin: 0 auto;
}



body.contribute .page span.first-letter{
	color: #633380;
}

body.contribute main header h1{
	font-family: "franklin-gothic-urw", Arial;	
	font-size: 2.4em;
	font-weight: 600;
	position: relative;
	text-align: center;
	margin-bottom: 0.2em;
}

body.contribute main header{ 
	padding-top: 1.4em;
	margin-bottom: 1.4em;
	padding-bottom: 1.4em;
}

body.contribute .page .site-width{
	max-width: 42rem;
	margin: 0 auto 3.2em;
}


/* @end */

/* @group subscribe */

/* Subscribe styles */

body.subscribe main .page p{
	max-width: 30em;
	margin-bottom: 1.5em;
}

body.subscribe main .page p+p{ text-indent: 0; }
body.subscribe main .page img{
	float: right;
	width: 50%;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	margin-left: 2em;
}

main#subscribe div.field label,
main#subscribe div.field input{
	width: auto;
}
main#subscribe div.field label{
	padding-left: 1.7em;
	position: relative;
	display: block;
}

main#subscribe div.field input[type=radio] {
	position: absolute;
	left: 0;
	top: 0.2em;

}


.subscribe form section {
	margin: 2.5em 0;
}

main#subscribe p+p {
	margin-top: 0.35em;
	text-indent: 0;
}

body.subscribe form{
	margin-bottom: 2em;
	
}


/* @end */



/* @end */

/* @group home */

/* @group bootstrap */

body.home{ background: #eee; }

/* @end */

/* @group #header */

body.home header#header{ margin-bottom: 4em; }

/* @end */

/* @group main */

.home .primary-content section{ 
	background: white; 
	margin-bottom: 1.4rem;
	padding-bottom: 0.8em;
}

.home .primary-content article a{
	padding-top: 0.2em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
}

.primary-content section:last-of-type{ margin-bottom: 2rem; }

.primary-content section::after {
  content: "";
  display: table;
  clear: both;
}

.primary-content section:first-of-type{
	margin-top: -1em;
}

.secondary-content section{ font-family: "franklin-gothic-urw", arial; }

.secondary-content section p{
	line-height: 1.6em;
}

.secondary-content section p+p{
	text-indent: 1.4em;
}

.primary-content section header h1{
	padding-left: 1rem;
	padding-right: 1.6rem;
	font-size: 2.1em;
	line-height: 1.05;
	border-top: 0.2em solid;
	padding-top: 0.6em;
	margin-bottom: 0.2em;
}

.primary-content section header p{
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1.2em;
	line-height: 1.4;
	margin-bottom: 1.4em;
	font-family: "franklin-gothic-urw-cond", arial;
	font-style: inherit;
	color: #444;
}

.primary-content section.miscellaneous header{ margin-bottom: 1em; }
.primary-content section.miscellaneous header h1{ color: #333; }


.secondary-content h1{ text-align: center; }

.secondary-content section{
	margin-bottom: 3.2rem;
	font-size: 0.8em;
}

.page .secondary-content h1{
	font-size: 1rem;
	font-family: "franklin-gothic-urw", arial;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 0.4em;
	color: #333;
}

section.contributors ul{ padding: 0; }
section.contributors ul::after {
  content: "";
  display: table;
  clear: both;
}

section.contributors ul li{
	list-style-type: none;
	padding-left: 4em;
	line-height: 3em;
	position: relative;
	margin-bottom: 0.8em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
	float: left;
	vertical-align: top;
}

section.contributors li img{
	position: absolute;
	-moz-border-radius: 100%;
	border-radius: 100%;
	width: 3em;
	height: 3em;
	left: 0;
	top: 0;
}

.secondary-content section.sponsored-by img{
	width: 100%;
	max-width: 20em;
	display: block;
	margin: 0 auto;
}

/* @end */

@media screen and (min-width: 36em){
	.page .primary-content section header h1,
	.page .primary-content section header p,
	.page .primary-content section article.h-entry a{
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.page .primary-content section header h1{
		padding-top: 0.5em;
	}
	
	.page .primary-content section article{
		width: 49.5%;
		display: inline-block;
		vertical-align: top;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	.page .primary-content section article.h-entry:nth-child(even) a{ padding-right: 1rem; }
	.page .primary-content section article.h-entry:nth-child(odd) a{ padding-left: 1rem; }
	
	.page .secondary-content section.notes .content{
		-webkit-column-count: 2;
		-webkit-column-gap: 0.75em;
	}
	
	.secondary-content h1{ text-align: left; }
	.secondary-content section.sponsored-by img{ margin: 1.2em 0 0; }	
}

@media screen and (min-width: 48em){
	
	.page .primary-content{ margin-top: -3.8em; }

	.page .primary-content section header h1{
		font-size: 2.8rem !important;
		padding-top: 0.6em;
		margin-bottom: 0.2em;
	}
	
	.page .primary-content section.miscellaneous header h1{ 
		font-size: 1.4rem !important; 
		padding-top: 0.8em;
	}
	
	.page .primary-content section header p{
		font-size: 1.6rem;
		margin-bottom: 2.4rem;
	}
	
	
	.home .primary-content article a{ padding-bottom: 1.4em; }
	.page .primary-content section{ margin-bottom: 3.2rem;}
	.page .secondary-content{ padding-top: 2rem; }

	.page .secondary-content h1{
		font-size: 1.4rem;
		text-align: left;
	}
		
	.secondary-content section p{ font-size: 1.1em; }
}

@media screen and (min-width: 56em){
	
	.page .primary-content section header p{
		line-height: 1.4;
	}

	.page .primary-secondary-content{
		padding-right: 31.25%;
	}
	
	.page .primary-secondary-content:after{
	  content: ".";
	  display: block;
	  clear: both;
	  height: 0;
	  visibility: hidden;
	}
	
	.page .primary-secondary-content .primary-content,
	.page .primary-secondary-content .secondary-content{
		float: left;
		width: 100%;
	}
	
	.page .primary-secondary-content .secondary-content{
		width: 36.36363625%;
		margin-right: -36.36363625%;
		float: right;
		position: relative;
		left: 8%;
	}

	.page .primary-content section article{
		display: block;
		width: auto;
	}
	
	.page .primary-content section article.h-entry:nth-child(even) a{ padding-right: 2rem; }
	.page .primary-content section article.h-entry:nth-child(odd) a{ padding-left: 2rem; }


	.page .primary-secondary-content .secondary-content section .content{ -webkit-column-count: 1; }
	
	.primary-secondary-content .secondary-content section.contributors ul li{ width: auto; }
}

@media screen and (min-width: 64em){
	.page .primary-content section article{
		width: 49.5%;
		display: inline-block;
		vertical-align: top;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	.page .primary-content section article.h-entry:nth-child(even) a{
		padding-right: 1rem;
	}
		
	.page .primary-content section article.h-entry:nth-child(odd) a{
		padding-left: 1rem;
	}
	
	
}

/* @end */

/* @group article */

/* @group bootstrap */

body#article{ 
	border-right: 0.6rem solid #ce4d32;
	background: white;
	counter-reset: figure;
}

@media screen and (min-width: 40rem){
	
	body#article{ 
		border-right-width: 1rem;
	}

}

@media screen and (min-width: 71.11111rem){
	body#article{ 
		border-right-width: 1.4rem;
	}
}

/* @end */

/* @group header */


body#article main > header{
	text-align: center;
	font-family: "franklin-gothic-urw-cond", arial;
}

body#article main > header#header h1:hover::before,
body#article main > header#header h1:hover::after{
	border-color: #264f5f;	
}

body#article main > header h1,
body#page main > header h1{
	margin-bottom: 0.4em;
	font-size: 2.4em;
	font-family: "abril-titling-condensed", Georgia;
	line-height: 1.1;
	font-weight: 600;
	margin-top: 0.4em;
}

body#article main > header p{
	font-size: 1.6em;
	line-height: 1.4;
	margin-bottom: 1.4rem;
}

body#article main > header h2,
body#page main > header h2{
	font-weight: 600;
	font-size: 1.25em;
	margin-bottom: 0.4em;
}

@media screen and (min-width: 48em){
	body#article main > header h1{
		font-size: 2.8em;
		line-height: 1.1em;
		max-width: 48rem;
		margin: 1.4em auto 1.1rem;
	}
	
	body#article main > header h2{
	margin-bottom: 0.8em;
	}
}



/* @end */

/* @group main */

body#article main aside.publication-information h1{
	font: inherit !important;
	color: inherit !important;
	font-style: normal !important;
	margin: 1em 0 0 !important;
	line-height: 1.6em !important;
}
body#article main aside.publication-information ul{ padding: 0;}
body#article main aside.publication-information li{ list-style-type: none; padding: 0; margin: 0 !important;}

body#article aside.publication-information{
	float: right;
	width: 12em;
	margin-left: 1em;
	margin-top: 0.4em;
	font-size: 0.7em;
	color: #555;
	line-height: 1.8em;
	margin-bottom: 1.5em;
}

span.first-stanza{
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 0.8em;
	font-weight: 600;
}


body#article main .page{ 
	padding-top: 2em;
	padding-bottom: 3em;
}

@media screen and (min-width: 48rem){

	body#article main .page .site-width{ 
		max-width: 40rem;
		margin: 0 auto;
	}
}

#article .page h1{ color: #0580ad; }


/* @group author-bio */

	section.author-bio{
		position: relative;
		min-height: 4em;
		border-top: 0.2em solid #cc4c34;
		margin-top: 2.4em;
		font-size: 0.9em;
		font-style: normal;
		font-family: "franklin-gothic-urw", arial;	
	}
	
	section.author-bio p {
		padding-top: 1em;
		padding-bottom: 1.5em;
		clear: both;
	}
	
	section.author-bio p+p{
		border-top: 0.1em solid #888;
		text-indent: 0;
		
	}
	
	section.author-bio p img{
		width: 3.5em;
		margin-right: 1em;
		-moz-border-radius: 100%;
		border-radius: 100%;
		float: left;
		left: 0;
		top: 1.25em;
		margin-bottom: 1em;
	}


/* @end */

/* @end */

/* @group footer */

body#article main > footer div.site-width{
	border-top: 0.2em solid #333;
	padding-top: 0.4em;
	margin-bottom: 0.2em;
	padding-bottom: 1em;
}

body#article main > footer div.site-width section{
	margin-bottom: 1.8em;
}

body#article main > footer > div.site-width > h1{
	font-family: "franklin-gothic-urw", Arial;
	padding-right: 1.6rem;
	font-size: 1.25rem;
	font-weight: 600;
	padding-top: 0.8em;
	margin-bottom: 1.8rem;
}

body#article main > footer div.site-width > h1{
	padding-top: 0;
	padding-bottom: 0.4em;
	border-bottom: 0.1em solid #555;
}

body#article section.h-feed header h1{
	margin-bottom: 0.8rem;
}

body#article main footer .h-feed p,
body#article main footer .h-entry p{ display: none; }


body#article main footer .h-entry{ margin-bottom: 0.4em; }
body#article main footer .h-entry h1{ margin-bottom: 0.2em; }
body#article main footer .h-feed.miscellaneous h1{ padding: 0; }

@media screen and (min-width: 48em){
	
	body#article main > footer div.site-width section{
		width: 50%;
		float: left;
		margin-bottom: 1.2em;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-right: 0.75em;

	}
	
}

/* @end */

/* @end */

/* @end */