/* @override http://cq-prototype.local:4000/css/issue_1/issue_1.css */

/* @override http://0.0.0.0:4000/css/issue_1/issue_1.css */

/* @group Home */

body.home header#header{
  color: white;
  position: relative;
  background: #633380;
}

body.home header#header::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: -7.4em;
  background: url(images/mobile-cover.jpg);
  background-size: cover;
  z-index: -1;
}

@media screen and (min-width: 48em){
	body.home header#header::after{
	  background-image: url(images/desktop-cover.jpg);
	  background-position:  center 7em;
	  background-repeat: no-repeat;
	  background-color: #633380;
  	background-size: contain;
	bottom: -19em;
	}
	
	body.home header#header div.site-width::before{
	border-color: white;
	}

}

body.home header#header h1.logo,
body.home header#header h1.logo a:hover{
  color: white;
  z-index: 1;
}

body.home header#header p,
body.home header#header nav a{
  color: #d0afdd;
  z-index: 2;
  position: relative;
}

body.home header#header nav a:hover{ color: #fff; }
body.home .primary-content section.issue-1-field-notes header h1{ border-top-color: #007eae; }

body.home section.issue-1-forms-and-function header{ border-color: #6d51b3; }

body.home section.issue-1-field-notes h1,
body#article section.issue-1-field-notes article h1,
body#article.issue-1-field-notes main .page span.first-letter,
body#article.issue-1-field-notes main .page blockquote::before,
body#article.issue-1-field-notes main .page > div.site-width > section > h1{ color: #007eae; }

body.home section.issue-1-field-notes a:hover h1,
body#article section.issue-1-field-notes a:hover h1{ color: #004098; }

body.home section.issue-1-forms-and-function h1,
body#article section.issue-1-forms-and-function article h1,
body#article.issue-1-forms-and-function main .page blockquote::before,
body#article.issue-1-forms-and-function main .page span.first-letter,
body#article.issue-1-forms-and-function main .page > div.site-width > section h1{ color: #7a60c0; }

body.home section.issue-1-forms-and-function a:hover h1,
body#article section.issue-1-forms-and-function a:hover h1{ color: #522980; }

/* @end */

/* @group Article */

body#article.issue-1-forms-and-function,
body#article.issue-1-forms-and-function .author-bio{ border-color: #7a60c0; }

body#article.issue-1-field-notes,
body#article.issue-1-field-notes .author-bio{ border-color: #007eae; }

/* @end */



/* @group paper-cut */

body#article.issue-1-paper-cut main > header{ margin-top: 1em; }

body#article.issue-1-paper-cut main header div.site-width::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 30em;
	width: 100%;
	background: url(/images/issue_1/paper_cut/tower.jpg);
	background-size: cover;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	-webkit-transition: 0.1s;
-moz-transition: 0.1s;
}

body#article.issue-1-paper-cut main header div.site-width{ padding-top: 30em; }

body#article.issue-1-paper-cut main > header h1,
body#article.issue-1-paper-cut main > header h2{
	text-align: left;
	font-weight: normal;
}

body#article.issue-1-paper-cut main > header h2,
body#article.issue-1-paper-cut main > header p{
	font-family: "franklin-gothic-urw-cond", helvetica;
	font-size: 1.2em;
}

body#article.issue-1-paper-cut main > header h1{
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: 0.2em;
	text-align: left;
	line-height: 1.4em;
	margin: 0.8em 0 0.4em;

}

body#article.issue-1-paper-cut main > header p{
	margin-bottom: 1em;
}

.celebrated-content.old-paper img{
	display: none;
}

.celebrated-content.old-paper{
	background: url(/images/issue_1/paper_cut/old_paper.jpg);
	background-size: cover;
	min-height: 6em;
	padding: 0;
}

.celebrated-content.old-paper p{
	line-height: 6em;
	background: rgba(0,0,0,0.5);
	font-family: "franklin-gothic-urw", arial;
	font-style: normal;
}

	body#article.issue-1-paper-cut main aside.api{
	background: #eee;
	float: right;
	width: 12rem;
		-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0.75em;
	font-family: "franklin-gothic-urw", arial;
	font-size: 0.8em;
	margin-left: 2rem;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	}
	
	body#article.issue-1-paper-cut main aside.api p{
		line-height: 1.8em;
	}
	
	body#article.issue-1-paper-cut main aside.api+p{
		text-indent: 1.4em;
		word-break: break-all;
		hyphens: auto;
	}

	@media screen and (min-width: 40rem){
		
		body#article.issue-1-paper-cut main aside.api{
			width: 16rem;
			margin-bottom: 2em;
		}
		
		body#article.issue-1-paper-cut main aside.api+p{
			word-break: normal;
		}
	}


@media screen and (min-width: 71.1111rem){
	body#article.issue-1-paper-cut main > header{ margin-top: 2em; }

	body#article.issue-1-paper-cut main > header div.site-width::before{
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		height: auto;
		width: 20em;
	}
	

	body#article.issue-1-paper-cut main > header div.site-width{
		padding-left: 22.5rem;
		position: relative;
		padding-top: 0;
		margin-bottom: 2em;
	}
	
	body#article.issue-1-paper-cut main > header h1{
		font-size: 2.75em;
		margin-top: 0.4em;
	}
	

	body#article.issue-1-paper-cut main figure.figure-vending{
		width: 24em;
		margin: 2em auto 0;
	}

	body#article.issue-1-paper-cut main > header div.site-width{ padding-left: 27em; }
	body#article.issue-1-paper-cut main > header div.site-width::before{ left: 4em; }
	body#article.issue-1-paper-cut main figure.figure-vending{
		float: right;
		margin-right: -12em;
		width: 24rem;
		margin-left: 1em;
	}
	body#article.issue-1-paper-cut main img.formbox{
		float: left;
		margin-left: -12em;
		width: 32rem;
		margin-right: 1em;
		margin-top: 1em;
		margin-bottom: 1em;
	}	
	
	body#article.issue-1-paper-cut main figure.figure-protocol{
	width: 16em;
	float: right;
	}

	body#article.issue-1-paper-cut main aside.api{
	margin-right: -2rem;
	}
	
}

body#article.issue-1-forms.issue-1-paper-cut main .page p.introduction{ font-size: 1.2em; }


body#article.issue-1-forms-and-function.issue-1-paper-cut main .page span.first-stanza span.first-letter{
	color: inherit;
	font: inherit;
	float: none;
	margin: 0;
}

body#article.issue-1-forms-and-function main .page section.author-bio{
	border-color: #7a60c0;
}


/* @end */

/* @group issue-1-letter */

body#article.issue-1-letter .page{
	background: url(/images/issue_1/editors/letter_from_editors.png) bottom center no-repeat;
	background-size: contain;
	margin-bottom: 1em;
}

body#article.issue-1-letter .page{
	padding-bottom: 5em;
}

@media screen and (min-width: 48em){
	body#article.issue-1-letter .page{
		padding-bottom: 12em;
	}
}




/* @end */

/* @group etl-for-america */

body.issue-1-etl-for-america ol.etl-definition li{
	padding-right: 8em;
	padding-top: 0.5em;
	padding-bottom: 1em;
	clear: both;
}

body.issue-1-etl-for-america ol.etl-definition li::after {
  content: "";
  display: table;
  clear: both;
}

body.issue-1-etl-for-america ol.etl-definition li img{
	float: right;
	width: 6em;
	margin-right: -8em;
}

@media screen and (min-width: 71.1111rem){

	body.issue-1-etl-for-america ol.etl-definition{
		margin: 1.8em -12rem 1.4em;
		border-top: 0.125em solid #e3e3e3;
		border-bottom: 0.125em solid #e3e3e3;
		padding: 1.6em 0;
	}
	
	body.issue-1-etl-for-america ol.etl-definition::after {
	  content: "";
	  display: table;
	  clear: both;
	}
	
	body.issue-1-etl-for-america ol.etl-definition li{
		list-style-type: none;
		float: left;
		width: 25%;
		margin-right: 12.5%;
		font-size: 0.9em;
		line-height: 1.4em;
		padding: 0;
		clear: none;
	}
	
	body.issue-1-etl-for-america ol.etl-definition li:last-of-type{
		margin-right: 0;
	}
	
	body.issue-1-etl-for-america ol.etl-definition li img{
		margin-bottom: 1em;
		float: none;
		margin: 0 0 1em;
		width: auto;
	}
	
}

/* @end */

/* @group tech-stack-survey */


/* @end */